# 1. 编译输出目录
build/
build-*/
bin/
obj/

# 2. Qt Creator IDE 生成的临时文件
*.user
.qmake.stash
*.pro.user

# 3. 操作系统生成的隐藏文件
.DS_Store
Thumbs.db
ehthumbs.db

# 4. 调试与日志
*.log
*.debug

# 5. 可选：如果你有存放密码的本地配置文件
# 为了安全，建议忽略它，只上传 config.ini.example
config.ini
